header{
    margin: 0px auto;
    max-width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    border-bottom: 1px solid #283B8E;
    justify-content: space-between;
}

header #logo {
    margin: auto;
    height: 70px;
    width: 160px;
}

header .mnu_top{
    list-style-type: 0;
}

header .right_header{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

header .mnu_top li{
    display: inline-block;
    margin-right: 75px;
    padding-bottom: 10px;
}

header .mnu_top li a{
    display: block;
    text-decoration: none;
    color: #283B8E;
    font-size: 18px;
    font-weight: 600;
    -webkit-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease;
}

header .mnu_top li a:hover{
    color: #1CBDEF;
}

/*header .btns{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

header .btns >a{
    border-radius: 10px;
    text-decoration: none;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

header .btns .btn_light{
    font-size: 18px;
    color: #4f4c67;
    font-weight: 500;
    border: 1px solid #A2D5CE;
    padding: 5px 48px;
    margin-right: 30px;
}

header .btns .btn_light:hover{
    background-color: #a2d5ce;
}

header .btns .btn_green{
    font-size: 16px;
    color: #fff;
    background-color: #a2d5ce;
    font-weight: 500;
    padding: 9px 48px;
}

header .btns .btn_green:hover{
    background-color: #96c2bc;
}*/

header .icons{
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .icons a #vk_icon{
    width: 35px;
    height: 35px;
    padding-right: 25px;
}

header .icons a #sign_in_icon{
    width: 35px;
    height: 35px;
}
