body, h1, div{
    margin: 0;
    background: #F2F2F2;
}

header{
    display: flex;
    margin-left: 120px;
    width: 1680px;
    height: 100px;
    border-bottom: 1px solid #283B8E;
}

main{
    height: 1000px;
}

.layout-header{
    height: 100px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 233px;
    margin-top: 35px;
    width: 831px;
    height: 31px;
}

.header-item{
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #283B8E;
}

.header-buttons{
    margin-top: 25px;
    margin-left: 474px;
    width: 122px;
    height: 50px;
}

.vk{
    color: #283B8E;
}

.auth{
    position: absolute;
    left: 1730px;
    color: #283B8E;
}

svg{
    width: 50px;
    height: 50px;
}

.grid-container{
    margin-left: 120px;
    width: 1680px;
    height: 1000px;
}

.section-root-3{
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    height: 514px;
}

.section-block-3{
    border-radius: 25px;
    width: 547px;
    height: 514px;
    background-color: #FFFFFF;
}